/* 375px for mobile phones */
@media (max-width: 23.4em) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 9.6rem;
    border-bottom: 1px solid #eee;
  }

  .result {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
  }

  .summary {
    width: 100%;
  }

  .num-box {
    margin: 2em auto 1.5rem;
  }

  .great {
    font-size: 1.5em;
    margin-top: 3rem;
  }

  .great-text {
    margin-top: 1rem;
    padding: 0 1.5rem;
    font-size: 1.6rem;
  }

  .left {
    top: -5.2rem;
    left: 26.9rem;
  }

  .right {
    top: -1.9rem;
    left: 26.9rem;
  }
}
